<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About</title>
    <%- include('partials/head') %>
  </head>
  <body class="d-flex-container">
    <%- include('partials/nav') %>

    <div class="container mt-5 content">
      <h1>About Me</h1>
      <p>
        My name is Nirajan Bist. I am a student at Seneca College with student
        number: 157716226. You can contact me via email at: nbist1@myseneca.ca.
      </p>
      <p>
        This blog will focus on cars, exploring various topics from electric
        vehicles, hybrid cars, to sports cars, and SUVs. We'll discuss the
        latest trends, technology advancements, and industry news.
      </p>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
