<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <%- include('partials/head') %>
  </head>
  <body class="d-flex-container">
    <%- include('partials/nav') %>

    <!-- Content Section -->
    <div class="container mt-5 content">
      <h1>Welcome to the Car Blog!</h1>
      <p>This is the home page.</p>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
